.footer {
  flex-direction: row;
  color: black;
  background-color: lightseagreen;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.fa {
  padding: 20px;
  border-radius: 50%;
  width: 20px;
  font-size: 20px;
}

.fa:hover {
  opacity: 0.6;
}

.fa-facebook {
  color: black;
}

.fa-google {
  color: black;
}

.fa-linkedin {
  color: black;
}

.fa-github {
  color: black;
}
